
.admin-panel {
    width: 60vw;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 8rem;
    margin-left: 10%;
    align-items: center;
    overflow-x: hidden;
}

.admin-panel table {
    width: 60vw;
    table-layout: fixed;
}

.admin-panel table th, .admin-panel table td {
    padding: 15px;
    border-bottom: 2px solid #ddd;
    font-family: Poppins, var(--default-font-family), Serif, serif;
}

.nickname {
    width: 15%;
}

.email {
    width: 25%;
}

.role {
    width: 10%;
}

.project-count {
    width: 8%;
}

.update {
    width: 15%;
}

.delete {
    width: 15%;
}

.admin-panel table th {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.admin-panel table tr {
    text-align: center;
    transition: margin-right 0.3s;

.admin-panel table tr:hover {
    margin-right: 10rem;
    background-color: #f1f1f1;
}

.admin-panel form {
    display: inline-block;
    margin-right: 2rem;
}

.admin-panel select, .admin-panel {
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
}

.update-button, .delete-button {
    padding: 0.8em;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 0.7rem;
}    

.update-button {
    background-color: #007BFF;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 0;
    width: 100%;
}

.delete-button {
    background-image: none;
    background-color: #FF0000;
    transition: background-color 0.3s;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    width: 100%;
}
